<!--Property Binding, se utiliza para establecer valores para las propiedades
    de los elementos o directivas HTML-->
<h1>Propiedades</h1>
<button disabled="false">Enviar</button>
<input type="text" [value]="name" [disabled]="btnDisabled">
<progress max="100" [value]="getAge()"></progress>
<img [src]="img" alt="image random" width="100px">
<hr>


<!--String interpolation, con las {{}} se puede puedes imprimir
  el valor de una variable, realizar operaciones matemáticas o hacer el llamado
  a una función dentro del código HTML-->
<h1>Hola Mundo</h1>
<h2>{{'Hola Mundo'.repeat(5)}}</h2>
<h3>3 + 3 = {{3 + 3}}</h3>
<p>Hola, soy {{name}} y tengo {{getAge()}} a&ntilde;o</p>
<img src={{img}} alt="image random" width="20%">
