<body>
  <form id="formProduct">
    <label for="nameProduct">Name: </label>
    <input
      type="text"
      id="nameProduct"
      [(ngModel)]="product.name"
      placeholder="Enter a product"
    />
    <label for="categoryProduct">Category: </label>
    <input
      type="text"
      id="categoryProduct"
      [(ngModel)]="product.category"
      placeholder="Enter a category"
    />
    <label for="qty">Quantity: </label>
    <input
      type="number"
      id="qty"
      [(ngModel)]="product.quantity"
      placeholder="Enter a quantity"
    />
    <button class="sendButton" (click)="addProduct()">Send</button>
  </form>

  <!--Start Table-->
  <table class="table">
    <tr class="header">
      <td>Product</td>
      <td>Category</td>
      <td>Quantity</td>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.quantity }}</td>
    </tr>
  </table>

  <div>
    <p>{{product.name}}</p>
  </div>
</body>
