p, h1 {
  margin: 0px;
}

button {
  width: 100%;
  height: 30px;
  font-size: 14px;
  background-color: #27B67B;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
}
